{% if mikrotik_ospf_routing['area_ranges'][0] is defined %}


# Create new area_ranges

{% for area_range in mikrotik_ospf_routing['area_ranges'] %}
:if ([/routing ospf area range find (area="{{ area_range['area'] }}" and range="{{ area_range['range'] }}")] = "") do={
# Create a new range area="{{ area_range['area'] }}" range="{{ area_range['range'] }}"
/routing ospf area range add area="{{ area_range['area'] }}" range="{{ area_range['range'] }}"
}
# Set remaining parameters for range area="{{ area_range['area'] }}" range="{{ area_range['range'] }}"
/routing ospf area range set [/routing ospf area range  find (area="{{ area_range['area'] }}" and range="{{ area_range['range'] }}")] \
  area="{{ area_range['area'] }}" \
  range="{{ area_range['range'] }}" \
  {% if area_range['cost'] is defined %} cost="{{ area_range['cost'] }}" {% endif %}
  {% if area_range['advertise'] is defined %} advertise="{{ area_range['advertise'] | bool | ternary('yes', 'no') }}" {% endif %}
  {% if area_range['disabled'] is defined %} disabled="{{ area_range['disabled'] | bool | ternary('yes', 'no') }}" {% endif %}
  {% if area_range['comment'] is defined %} comment="Ansible managed: [{{ area_range['comment'] }}]" {% endif %}

# End set parameters for range area="{{ area_range['area'] }}" range="{{ area_range['range'] }}"

{% endfor %}

{% endif %}
