{% if mikrotik_ospf_routing['areas'][0] is defined %}



# Create new areas
{% for area in mikrotik_ospf_routing['areas'] %}
:if ([/routing ospf area find where (name="{{ area['name'] }}")] = "") do={
# Add area {{ area['name'] }}
/routing ospf area add name="{{ area['name'] }}" area-id="{{ area['area-id'] }}" instance="Ansible managed: [{{ area['instance'] }}]"
}
# Set remaining parameters for area {{ area['name'] }}
/routing ospf area set [/routing ospf area find (name="{{ area['name'] }}")] \
  name="{{ area['name'] }}" \
  area-id="{{ area['area-id'] }}" \
  instance="Ansible managed: [{{ area['instance'] }}]" \
  {% if area['comment'] is defined %} comment="Ansible managed: [{{ area['comment'] }}]" {% endif %}
  {% if area['disabled'] is defined %} disabled="{{ area['disabled'] | bool | ternary('yes','no') }}" {% endif %}
  {% if area['default-cost'] is defined %} default-cost="{{ area['default-cost'] }}" {% endif %}
  {% if area['inject-summary-lsas'] is defined %} inject-summary-lsas="{{ area['inject-summary-lsas'] }}" {% endif %}
  {% if area['translator-role'] is defined %} translator-role="{{ area['translator-role'] }}" {% endif %}
  {% if area['type'] is defined %} type="{{ area['type'] }}" {% endif %}

# End of set parameters for area {{ area['name'] }}
{% endfor %}

{% endif %}
