{% if mikrotik_ospf_routing['delete_all_old_networks'] == true %}
# Delete old OSPF networks
/routing ospf network remove [/routing ospf network find]
{% endif %}

{% if mikrotik_ospf_routing['delete_all_old_area_ranges'] == true %}
# Delete all old area_ranges and disable default
/routing ospf area range remove [/routing ospf area range find]
{% endif %}

{% if mikrotik_ospf_routing['delete_all_old_areas'] == true %}
# Delete all old areas and disable default
/routing ospf area remove [/routing ospf area find where !(default=yes)]
/routing ospf area set [/routing ospf area find where default=yes] disabled=yes
{% endif %}

{% if mikrotik_ospf_routing['delete_all_old_interfaces'] == true %}
# Delete old OSPF interfaces
/routing ospf interface remove [/routing ospf interface find where !(dynamic=yes)]
{% endif %}

{% if mikrotik_ospf_routing['delete_all_old_instances'] == true %}
# Delete old OSPF instances
/routing ospf instance remove [/routing ospf instance find where !(default=yes) ]
/routing ospf instance set [/routing ospf instance find where default=yes ] disabled=yes
{% endif %}
