{% if mikrotik_ospf_routing['instances'][0] is defined %}

# Delete not defined instances by name
/routing ospf instance remove [/routing ospf instance find where !(default=yes) and  !( \
  {% for instance in mikrotik_ospf_routing['instances'] %}
    {% if not loop.first %} or {% endif %}
    ( name="Ansible managed: [{{instance['name']}}]") \
  {% endfor %}
) ]

# Disable default instances
/routing ospf instance set [/routing ospf instance find where (default=yes) and  !( \
  {% for instance in mikrotik_ospf_routing['instances'] %}
    {% if not loop.first %} or {% endif %}
    ( name="Ansible managed: [{{instance['name']}}]") \
  {% endfor %}
) ] disabled=yes

{% endif %}
