{% if mikrotik_ospf_routing['networks'][0] is defined %}

# Delete not defined networks by network adress and area name
/routing ospf network remove [/routing ospf network find where !( \
  {% for network in mikrotik_ospf_routing['networks'] %}
    {% if not loop.first %} or {% endif %}
    ( network="{{network['network']}}" and area="{{network['area']}}") \
  {% endfor %}
) ]

{% endif %}
