{% if mikrotik_ospf_routing['area_ranges'][0] is defined %}

# Delete old area_ranges
/routing ospf area range remove [/routing ospf area range find where !(\
{% for area_range in mikrotik_ospf_routing['area_ranges'] %}
{% if not loop.first %} or {% endif %} (area="{{ area_range['area'] }}" and range="{{ area_range['range'] }}") \
{% endfor %}
)]

{% endif %}
