{% if mikrotik_ospf_routing['areas'][0] is defined %}

# Delete old areas
/routing ospf area remove [/routing ospf area find where !(default=yes) and !(\
{% for area in mikrotik_ospf_routing['areas'] %}
{% if not loop.first %} or {% endif %} (name="{{ area['name'] }}") \
{% endfor %}
)]

{# (name="{{ area['name'] }}" and area-id="{{ area['area-id'] }}" and instance="Ansible managed: [{{ area['instance'] }}") \ #}

{% endif %}
