{% if mikrotik_ospf_routing['interfaces'][0] is defined %}

# Delete not defined interfaces by name
/routing ospf interface remove [/routing ospf interface find where !(dynamic=yes) and !( \
  {% for interface in mikrotik_ospf_routing['interfaces'] %}
    {% if not loop.first %} or {% endif %}
    ( interface="{{interface['interface']}}") \
  {% endfor %}
) ]

{% endif %}
