{% if mikrotik_ospf_routing['instances'][0] is defined %}



# Create and set parameters
{% for instance in mikrotik_ospf_routing['instances']%}
:if ( [/routing ospf instance find name="Ansible managed: [{{instance['name']}}]" ] = "" ) do={
  # Create a new instance
  /routing ospf instance add name="Ansible managed: [{{instance['name']}}]"
}

# Set instance's parameters
/routing ospf instance set [/routing ospf instance find name="Ansible managed: [{{instance['name']}}]" ] \
  name="Ansible managed: [{{instance['name']}}]" \
  comment="Ansible managed: [{{ instance['comment'] }}]" \
  {% if instance['disabled'] is defined %} disabled="{{ instance['disabled'] | bool | ternary('yes', 'no') }}" {% endif %}
  {% if instance['copy-from'] is defined %} copy-from="{{ instance['copy-from'] }}" {% endif %}
  {% if instance['distribute-default'] is defined %} distribute-default="{{ instance['distribute-default'] }}" {% endif %}
  {% if instance['domain-id'] is defined %} domain-id="{{ instance['domain-id'] }}" {% endif %}
  {% if instance['domain-tag'] is defined %} domain-tag="{{ instance['domain-tag'] }}" {% endif %}
  {% if instance['in-filter'] is defined %} in-filter="{{ instance['in-filter'] }}" {% endif %}
  {% if instance['metric-bgp'] is defined %} metric-bgp="{{ instance['metric-bgp'] }}" {% endif %}
  {% if instance['metric-connected'] is defined %} metric-connected="{{ instance['metric-connected'] }}" {% endif %}
  {% if instance['metric-default'] is defined %} metric-default="{{ instance['metric-default'] }}" {% endif %}
  {% if instance['metric-other-ospf'] is defined %} metric-other-ospf="{{ instance['metric-other-ospf'] }}" {% endif %}
  {% if instance['metric-rip'] is defined %} metric-rip="{{ instance['metric-rip'] }}" {% endif %}
  {% if instance['metric-static'] is defined %} metric-static="{{ instance['metric-static'] }}" {% endif %}
  {% if instance['mpls-te-area'] is defined %} mpls-te-area="{{ instance['mpls-te-area'] }}" {% endif %}
  {% if instance['mpls-te-router-id'] is defined %} mpls-te-router-id="{{ instance['mpls-te-router-id'] }}" {% endif %}
  {% if instance['out-filter'] is defined %} out-filter="{{ instance['out-filter'] }}" {% endif %}
  {% if instance['redistribute-bgp'] is defined %} redistribute-bgp="{{ instance['redistribute-bgp'] }}" {% endif %}
  {% if instance['redistribute-connected'] is defined %} redistribute-connected="{{ instance['redistribute-connected'] }}" {% endif %}
  {% if instance['redistribute-other-ospf'] is defined %} redistribute-other-ospf="{{ instance['redistribute-other-ospf'] }}" {% endif %}
  {% if instance['redistribute-rip'] is defined %} redistribute-rip="{{ instance['redistribute-rip'] }}" {% endif %}
  {% if instance['redistribute-static'] is defined %} redistribute-static="{{ instance['redistribute-static'] }}" {% endif %}
  {% if instance['router-id'] is defined %} router-id="{{ instance['router-id'] }}" {% endif %}
  {% if instance['routing-table'] is defined %} routing-table="{{ instance['routing-table'] }}" {% endif %}
  {% if instance['use-dn'] is defined %} use-dn={{ instance['use-dn'] | bool | ternary('yes', 'no') }} {% endif %}



{% endfor %}

{% endif %}
