{% if mikrotik_ospf_routing['interfaces'][0] is defined %}

# Create interfaces and set parameters
{% for interface in mikrotik_ospf_routing['interfaces']%}
:if (  [/routing ospf interface find where (interface="{{interface['interface']}}" and !(dynamic=yes) ) ] = "" ) do={
  # Create a new interface
  /routing ospf interface add interface="{{interface['interface']}}"
}

# Set interface's parameters
/routing ospf interface set  [/routing ospf interface find interface="{{interface['interface']}}" ] \
  interface={{ interface['interface'] }} \
  {% if interface['comment'] is defined %} comment="Ansible managed: [{{ interface['comment'] }}]" {% endif %}
  {% if interface['disabled'] is defined %} disabled={{ interface['disabled'] | bool | ternary('yes', 'no') }} {% endif %}
  {% if interface['authentication'] is defined %} authentication={{ interface['authentication'] }} {% endif %}
  {% if interface['authentication-key'] is defined %} authentication-key={{ interface['authentication-key'] }} {% endif %}
  {% if interface['authentication-key-id'] is defined %} authentication-key-id={{ interface['authentication-key-id'] }} {% endif %}
  {% if interface['cost'] is defined %} cost={{ interface['cost'] }} {% endif %}
  {% if interface['dead-interval'] is defined %} dead-interval={{ interface['dead-interval'] }} {% endif %}
  {% if interface['hello-interval'] is defined %} hello-interval={{ interface['hello-interval'] }} {% endif %}
  {% if interface['network-type'] is defined %} network-type={{ interface['network-type'] }} {% endif %}
  {% if interface['passive'] is defined %} passive={{ interface['passive'] | bool | ternary('yes', 'no') }} {% endif %}
  {% if interface['priority'] is defined %} priority={{ interface['priority'] }} {% endif %}
  {% if interface['retransmit-interval'] is defined %} retransmit-interval={{ interface['retransmit-interval'] }} {% endif %}
  {% if interface['transmit-delay'] is defined %} transmit-delay={{ interface['transmit-delay'] }} {% endif %}


{% endfor %}

{% endif %}
