{% if mikrotik_ospf_routing['networks'][0] is defined %}



# Create and set parameters
{% for network in mikrotik_ospf_routing['networks']%}
:if (  [/routing ospf network find network="{{network['network']}}" and area="{{network['area']}}" ] = "" ) do={
  # Create a new network
  /routing ospf network add network="{{network['network']}}" area="{{network['area']}}"
}

# Set network's parameters
/routing ospf network set  [/routing ospf network find network="{{network['network']}}" and area="{{network['area']}}" ] \
  network={{ network['network'] }} \
  area="{{network['area']}}" \
  comment="Ansible managed: [{{ network['comment'] }}]" {% if network['disabled'] is defined %}  \
  disabled={{ network['disabled'] | bool | ternary('yes', 'no') }} {% endif %}


{% endfor %}

{% endif %}
