# Delete all old objects configuration
{% include "delete_all_old_ospf_objects.rsc.j2" %}

# Delete old area_ranges
{% include "delete_area_ranges.rsc.j2" %}

# Delete old networks
{% include "delete_networks.rsc.j2" %}

# Delete old areas
{% include "delete_areas.rsc.j2" %}

# Delete old instances
{% include "delete_instances.rsc.j2" %}

# Delete old interfaces
{% include "delete_interfaces.rsc.j2" %}


# OSPF instances configuration
{% include "instances.rsc.j2" %}

# OSPF areas configuration
{% include "areas.rsc.j2" %}

# OSPF networks configuration
{% include "networks.rsc.j2" %}

# OSPF area_ranges configuration
{% include "area_ranges.rsc.j2" %}

# OSPF interfaces configuration
{% include "interfaces.rsc.j2" %}
